* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f17e0b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.details-container {
  background: #fff;
  padding: 25px 20px;
  border-radius: 9px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.details-container img {
  width: 50px;
  margin-bottom: 5px;
}

.details-container h2 {
  color: #333;
  margin-bottom: 15px;
  font-size: 24px;
}

.details-container p {
  font-size: 15px;
  margin-bottom: 10px;
  color: #333;
  text-align: left;
}

.details-container strong {
  color: #444;
}

.details-container a {
  display: block;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background: #f17e0b;
  color: #fff;
  border-radius: 20px;
  transition: background 0.3s;
}

.details-container a:hover {
  background: #a85808;
}
